@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --White: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    background-color: var(--light-gray);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: auto 10px;
    background-color: var(--White);
    position: absolute;
    width: 320px;
    height: 497px;
    left: 460px;
    top: 72px;
    /* White */
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
    border-radius: 20px;
}

.qr {
    position: absolute;
    width: 288px;
    height: 288px;
    left: 16px;
    top: 68px;
    border-radius: 20px;
} 

.code-qr {
    border-radius: 20px;    
    position: absolute;
    width: 288px;
    height: 288px;
    left: 1px;
    top: -55px;
}

.scan__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 288px;
    height: 129px;
    left: 20px;
    top: 290px;     
}

.scan__box h1 {
    color: var(--dark-blue);
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 22px;
    height: 56px;
    left: 0%;
    right: 0%;
    top: calc(50% - 56px/2 - 36.5px);
    line-height: 28px;
}

.scan__box p {
    color: var(--grayish-blue);
    font-family: 'Outfit', sans-serif;
    position: absolute;
    height: 57px;
    left: 5.56%;
    right: 5.56%;
    top: calc(76% - 57px/2 + 36px);
    /* Body */
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1875px;
}

@media (max-width: 768px) {
body {
    position: relative;
    width: 375px;
    height: 667px;
}

.card {
    position: absolute;
    width: 320px;
    height: 497px;
    left: 68px;
    top: 85px;
    }
}
